extends layout.pug

block content

  article.portfolio-intro


    h1 Welcome, internet inhabitants!

    p This is a showcase of the projects I have completed through the Treehouse Fullstack Javascript Certification. It is built using Express and has taught me a great deal about server-side programming with Javascript!


  article.portfolio-project-thumbs
    .projects-box.box.grid

 

      each project in projects
          h2 #{project.project_name}     
              .cell
                a(href=`/projects/${project.id}`)
                  img.thumbnail(src=`${project.image_urls[0]}`, alt=`${project.project_name}`)
                  h5 #{project.project_name}